body {
  font-family: Helvetica,Arial, sans-serif;
}

.header {
  height: 150px;
  background-color: red;
  border-style: dashed;
  text-align: center;
  text-color: black;
}

.container{
  align: center;
  background-color: white;
  width:1000px;
  margin-right: auto;
  margin-left: auto;
}

.nav{
  width:180px;
  float: left;
}

.content{
  background-color: white;
  padding: 10px;
  float: right;
}

.footer{
  background-color: grey;
  text-align: right;
  clear: both;
}
